[submodule "Replex/googletest"]
	path = Replex/googletest
	url = git@github.com:google/googletest.git
[submodule "function-plotter"]
	path = function-plotter
	url = git@github.com:Civitasv/asciichart.git
