[submodule "Replex/googletest"]
	path = Replex/googletest
	url = git@github.com:google/googletest.git
[submodule "function-plotter"]
	path = function-plotter
	url = git@github.com:Civitasv/asciichart.git
[submodule "please"]
	path = please
	url = git@github.com:Civitasv/please.git
[submodule "game dev/cengine"]
	path = game_engine/cengine
	url = git@github.com:Civitasv/cengine.git
[submodule "game dev/opengl_series"]
	path = game_engine/opengl_series
	url = git@github.com:Civitasv/learning-opengl.git
[submodule "scheme_compiler"]
	path = scheme_compiler
	url = git@github.com:Civitasv/scxx.git
